<%= form_for(@member) do |f| %>
  <p>
  <%= f.label :name ,"名前"%>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :yomi, "ヨミガナ" %>
  <%= f.text_field :yomi %>
  </p>
  <p>
  <%= f.label :phone, "電話番号" %>
  <%= f.text_field :phone %>
  </p>
  <%= f.submit "登録" %>
<% end %>